:root{
  --color-textBlack:#000000;
  --color-textWhite:#ffffff;
  --color-pink:#F86161;
  --color-green:#83BF0E;
  --color-title:#363B46;
  --color-specialText:#3C4353;
  --color-form:grey;
  --color-bg:#292F3B;
}