.footer {
  padding-top: 40px;
}
.footer__wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
@media (min-width: 767px) {
  .footer__wrapper {
    align-items: initial;
  }
}
@media (min-width: 1023px) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 61px 0;
  }
}
.footer__contacts {
  margin: 40px 0;
}
@media (min-width: 768px) {
  .footer__contacts {
    margin: 60px 0;
  }
}
@media (min-width: 1023px) {
  .footer__contacts {
    flex: 0 0 50%;
  }
}
@media (min-width: 1023px) {
  .footer__form {
    flex: 0 0 50%;
  }
}
.footer__privacy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 6px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 0.83rem;
  padding: 1.55rem;
  font-weight: 500;
}
@media (min-width: 767px) {
  .footer__privacy {
    padding: 34px 0;
    font-size: 16px;
  }
}
.footer__copyright img {
  width: 9px;
  height: 9px;
}

.contacts {
  max-width: 290px;
}
@media (min-width: 767px) {
  .contacts {
    max-width: 100%;
  }
}
@media (min-width: 767px) {
  .contacts__wrapper {
    padding: 0 90px;
  }
}
@media (min-width: 1024px) {
  .contacts__wrapper {
    padding: 0;
    margin-right: 100px;
  }
}
.contacts__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (min-width: 767px) {
  .contacts__info {
    font-size: 22px;
  }
}
@media (min-width: 1024px) {
  .contacts__info {
    align-items: flex-start;
  }
}
.contacts__title {
  color: var(--color-textBlack, #000);
  text-align: center;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 20px;
}
@media (min-width: 767px) {
  .contacts__title {
    font-size: 30px;
  }
}
@media (min-width: 1023px) {
  .contacts__title {
    font-size: 35px;
  }
}
.contacts__telegram {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
}
.contacts__telegram img {
  width: 32px;
  height: 32px;
}
.contacts__mail {
  margin: 15px 0;
}
.contacts__address {
  text-align: center;
}
@media (min-width: 1024px) {
  .contacts__address {
    text-align: start;
  }
}

.social__title {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 10px;
}
@media (min-width: 767px) {
  .social__title {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.social__links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}
.social__link img {
  width: 32px;
  height: 32px;
}
@media (min-width: 767px) {
  .social__link img {
    width: 46px;
    height: 46px;
  }
}

.vk {
  padding: 6px;
  border-radius: 100px;
  background: #07F;
}

.vc {
  padding: 3px;
  border-radius: 100px;
  background: #FEC9D3;
}

.hubr {
  padding: 3px;
  border-radius: 100px;
  background: #629FBC;
}

.form {
  padding: 35px 17px;
}
@media (min-width: 767px) {
  .form {
    padding: 40px 100px 45px;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .form {
    padding: 0;
    font-size: 16px;
  }
}
.form__wrapper {
  max-width: 236px;
}
@media (min-width: 767px) {
  .form__wrapper {
    max-width: 100%;
  }
}
.form__title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 15px;
}
@media (min-width: 1023px) {
  .form__title {
    text-align: start;
    font-size: 35px;
    margin-bottom: 33px;
  }
}
.form__description {
  text-align: center;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 30px;
  padding: 0 10px;
}
@media (min-width: 1023px) {
  .form__description {
    text-align: start;
    font-size: 20px;
    margin-bottom: 55px;
    padding: 0;
  }
}
.form__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
}
.form__box {
  width: 100%;
}
@media (min-width: 1023px) {
  .form__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 61px;
    column-gap: 20px;
  }
}
.form__name {
  width: 100%;
  border-bottom: 1px solid var(--color-form, grey);
  line-height: 142%;
  margin-bottom: 30px;
}
@media (min-width: 1023px) {
  .form__name {
    margin-bottom: 0;
  }
}
.form__phone {
  width: 100%;
  border-bottom: 1px solid var(--color-form, grey);
  line-height: 142%;
}
.form__about {
  width: 100%;
  border-bottom: 1px solid var(--color-form, grey);
}
.form__textarea {
  width: 100%;
  line-height: 142%;
  resize: none;
}
.form__textarea:focus {
  outline: none;
}
.form__download-label {
  display: flex;
  align-items: center;
  line-height: 160%;
  margin-bottom: 10px;
}
.form__download-label::before {
  content: url(../../forms/Form/img/attachment.svg);
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
.form__download-span {
  display: inline-block;
  font-size: 10px;
}
.form__download-btn {
  display: none;
}
.form__agreement {
  font-size: 9px;
  line-height: 150%;
}
@media (min-width: 767px) {
  .form__agreement {
    font-size: 16px;
  }
}
.form__checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.form__checkbox:checked + .form__customCheckbox::before {
  transform: translate(-50%, -50%) scale(1);
}
.form__customCheckbox {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #F86161;
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 7px;
}
@media (min-width: 767px) {
  .form__customCheckbox {
    width: 20px;
    height: 20px;
  }
}
.form__customCheckbox::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../../forms/Form/img/checkbox.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease-in;
}
@media (min-width: 767px) {
  .form__customCheckbox::before {
    width: 20px;
    height: 20px;
  }
}
.form__btn {
  width: 100%;
  line-height: 160%;
  padding: 10px;
}
@media (min-width: 767px) {
  .form__btn {
    font-size: 20px;
    padding: 14px 10px;
  }
}

/*# sourceMappingURL=style.css.map */
